{% extends "base.html" %}

{% block content %}

<div class="container">

    <h1>Find Colleges</h1>

    <form method="POST" action="/search">

        <label>Course</label>

        <select name="course">
            <option>BTech</option>
            <option>BCA</option>
            <option>BBA</option>
        </select>

        <label>Branch</label>

        <select name="branch">
            <option>CSE</option>
            <option>IT</option>
            <option>Mechanical</option>
        </select>

        <label>City</label>

        <select name="city">
            <option value="">All Cities</option>
            <option>Jaipur</option>
            <option>Dehradun</option>
            <option>Noida</option>
            <option>Patiala</option>
            <option>Chennai</option>
            <option>Vellore</option>
            <option>Mohali</option>
            <option>Jalandhar</option>
        </select>

        <label>Budget (Per Year)</label>

        <input type="number" name="budget" required>

        <label>Sort By</label>

        <select name="sort">

            <option value="roi">Highest ROI</option>
            <option value="placement">Highest Placement</option>
            <option value="fees">Lowest Fees</option>
            <option value="package">Highest Average Package</option>

        </select>

        <button type="submit">
            Search Colleges
        </button>

    </form>

</div>

{% endblock %}