{% extends "base.html" %}

{% block content %}

<div class="page-header">

    <h1>⭐ College Fit Score</h1>

    <p>
        Get personalized college recommendations based on your academic profile.
    </p>

</div>

<div class="fit-container">

    <div class="fit-card">

        <form action="/fit-score-result" method="POST">

            <div class="form-group">

                <label>JEE Rank</label>

                <input
                    type="number"
                    name="rank"
                    placeholder="Enter your JEE Rank"
                    required>

            </div>

            <div class="form-group">

                <label>Budget (Per Year)</label>

                <input
                    type="number"
                    name="budget"
                    placeholder="Enter your Annual Budget"
                    required>

            </div>

            <div class="form-group">

                <label>Preferred Branch</label>

                <select name="branch">

                    <option>CSE</option>
                    <option>IT</option>
                    <option>Mechanical</option>

                </select>

            </div>

            <button type="submit" class="btn fit-btn">

                ⭐ Calculate Fit Score

            </button>

        </form>

    </div>

</div>

{% endblock %}