{% extends "base.html" %}

{% block content %}

<div class="hero">

    <h1>🎯 Admission Predictor</h1>

    <p>
        Predict your admission chances using previous year cutoff trends.
    </p>

</div>

<div class="predictor-card">

    <form action="/predict-result" method="POST">

        <div class="form-group">

            <label>JEE Rank</label>

            <input
                type="number"
                name="rank"
                placeholder="Enter your JEE Rank"
                required
            >

        </div>

        <div class="form-group">

            <label>Branch</label>

            <select name="branch">

                <option>CSE</option>
                <option>IT</option>
                <option>Mechanical</option>

            </select>

        </div>

        <button type="submit" class="predict-btn">
            Predict Admission 🚀
        </button>

    </form>

</div>

{% endblock %}